{% extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron text-center">
	   <h1>Associer un élève à  une filière</h1>
    </div>
    <form>
      Choisir un élève:
      <select name="eleve" size="1">
        {% for eleve in eleve %}
        <option value = {{eleve.id}}>{{eleve.prenom}} {{eleve.nom}} </option>
        {% endfor %}
      </select><br>
      <br>
      Choisir une filière:
      <select name="filiere" size="1">
      {% for filiere in filiere %}
        <option value = {{filiere.id}}>{{filiere.titre}}</option>
      {% endfor %}
      </select><br>
      <input class="favorite styled" type="submit" value="Valider" name="submit">
    </form>
{% endblock %}
