<!DOCTYPE html>
<html>
   <head>
       <meta charset="UTF-8" />
       <title>{% block title %}Welcome!{% endblock %}</title>
       {% block stylesheets %}{% endblock %}
       <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
       <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
   </head>
   <body>
    <a href="{{ path('homepage') }}">Accueil</a>
    <a href="{{ path('app_lesson') }}">Cours</a>
    <a href="{{ path('app_planning') }}">Calendrier</a>
    <a href="{{ path('app_contact', {'langue': "fr"}) }}">Contact</a>
    <a href="{{ path('logout') }}">Déconnexion</a>
	<a href="{{ path('home', {'langue': "en"}) }}">English</a>
       <div class="alert alert-success">
   {% set flashbag_notices = app.session.flashbag.get('notice') %}
   {% if flashbag_notices is not empty %}

   <div class="flash-notice">
       {% for notice in flashbag_notices %}
       {{notice}}
       {% endfor %}
   </div>
{% endif %}
{% block body %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}
   </body>
</html>
