{% extends 'fr/base.html.twig' %}

{% block body %}
<div class="form-w3layouts">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
            <header class="panel-heading">
                Ajout planning
            </header>
                <div class="panel-body">
                    {{ form_start(form, {'class': 'form-horizontal bucket-form'}) }}
                        <div class="row form-group">
                            <label class="col-sm-3 control-label">Filiere</label>
                            <div class="col-sm-6">
                                {{ form_widget(form.filiere, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-3 control-label">Heure</label>
                            <div class="col-sm-6">
                                {{ form_widget(form.heure, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-3 control-label">Lundi</label>
                            <div class="col-sm-6">
                                {{ form_widget(form.lundi, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-3 control-label">Mardi</label>
                            <div class="col-sm-6">
                                {{ form_widget(form.mardi, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-3 control-label">Mercredi</label>
                            <div class="col-sm-6">
                                {{ form_widget(form.mercredi, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-3 control-label">Jeudi</label>
                            <div class="col-sm-6">
                                {{ form_widget(form.jeudi, {'attr': {'class': 'form-control'}}) }}
                            </div>
							</div>
						<div class="row form-group">
                            <label class="col-sm-3 control-label">Vendredi</label>
                            <div class="col-sm-6">
                                {{ form_widget(form.vendredi, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
						   <div class="row form-group">
                            <label class="col-sm-3 control-label">Langue</label>
                            <div class="col-sm-6">
                                {{ form_widget(form.langue, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <input class="btn btn-success right" type="submit" value="Enregister" />
                    {{ form_end(form) }}
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}