{% extends 'fr/base.html.twig' %}
{% block body %}
    <div class="jumbotron text-center">
	<h1>Semestre 2</h1>
</thead>

                    <tbody>


<br/>
<br/>

					{% for planning in planning %}

						<table class="table table-dark">
					  <thead>

					    </tr>
					  </thead>
					  <tbody>
					  	<tr>
					      <td>Filiére : {{ planning.filiere }}</td>
					    </tr>
					     <tr>
					      <td> Lundi : {{ planning.heure }} {{ planning.lundi }}</td>
					    </tr>
					     <tr>
					      <td> Mardi : {{ planning.heure }} {{ planning.mardi }}</td>
					    </tr>
					     <tr>
					      <td> Mercredi : {{ planning.heure }} {{ planning.mercredi }}</td>
					    </tr>
					     <tr>
					      <td> Jeudi :  {{ planning.heure }} {{ planning.jeudi }}</td>
					    </tr>
					 	 <tr>
					      <td> Vendredi :  {{ planning.heure }} {{ planning.vendredi }}</td>
					    </tr>
					     <tr>
					      <td> Langue :  {{ planning.langue }} </td>
					    </tr>
					  </tbody>
					 
					</table>
                                    
						{% if is_granted('ROLE_ADMIN') == true %}
                                        <a class="btn btn-primary btn-sm" href="{{ path('planning_edit', { 'id': planning.id,'langue': 'fr' }) }}">Modifier<i class="fa fa-pencil-square-o"></i> </a>
{% endif %}</td>
                        {% endfor %}

					</table>

					        {% if is_granted('ROLE_ADMIN') == true %}
            <a class="btn btn-success" href="{{ path('planning_new', {'langue': 'fr'}) }}"><i class="fa fa-plus-square"></i> Ajouter un planning</a>
{% endif %}
			
</tbody>
    </div>
{% endblock %}